# To learn more about how to use Nix to configure your environment
# see: https://developers.google.com/idx/guides/customize-idx-env
{ pkgs, ... }: {
  # Which nixpkgs channel to use.
  channel = "stable-23.11"; # or "unstable"
  # Use https://search.nixos.org/packages to find packages
  packages = [
    pkgs.jdk21
  ];
  # Sets environment variables in the workspace
  env = {};
  idx = {
    workspace = {
      # Runs when a workspace is first created with this `dev.nix` file
      onCreate = {
        wait-for-adb = "adb -s emulator-5554 wait-for-device"}";
      };
    };
    previews = {
      enable = true;
      previews = [
        {
          command = ["./gradlew" "--continuous" ":app:installDebug"];
          id = "android";
          manager = "gradle";
          activity = "{{ launch_activity }}"
        }
      ];
    };
  };
}