# To learn more about how to use Nix to configure your environment
# see: https://developers.google.com/idx/guides/customize-idx-env
{ pkgs, ... }: {
  # Which nixpkgs channel to use.
  channel = "stable-23.11"; # or "unstable"
  # Use https://search.nixos.org/packages to find packages
  packages = [
    pkgs.nodePackages.firebase-tools
    pkgs.jdk21
    pkgs.sdkmanager
    pkgs.android-tools
  ];
  # Sets environment variables in the workspace
  env = {};
  idx = {
    workspace = {
      # Runs when a workspace is first created with this `dev.nix` file
      onCreate = {
        npm-install = "./gradlew :app:installDebug && adb -s emulator-5554 shell am start -n {{ launch_activity }}";
      };
    };
    previews = {
      enable = true;
      previews = [
        android = {
          command = ["./gradlew" ":app:installDebug"];
          manager = "gradle";
          activity = "{{ launch_activity }}";
        };        
      ];
    };
  };
}